[Unit]
Description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ec2-user/rstudio
ExecStart=/usr/bin/docker-compose -f /home/ec2-user/ec2-machines/config-files/rstudio/docker-compose.yml up -d --remove-orphans

[Install]
WantedBy=multi-user.target